# Archivos por ignorar del Proyecto ==================================================
data/discord.json

# General a ignorar (JS things) ======================================================
logs
*.log
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.env
.env.test
dist
.cache/
data/discord.json
