{{> inc/logged/header }}

<main>
    <div class="bd-masthead">

        {{#username}}
            <h1>Bienvenido {{username}}</h1>
            <a href="/logout">Cerrar sesión</a>
        {{/username}}

        <h1 class="text-center">Jumbotron with icon</h1>
        <p class="text-center fs-5 text-muted">
            This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
        </p>

    </div>
</main>

{{> inc/logged/footer }}